.container-one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;;
}

.container-two {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.container-three {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 280px;
}

.container-four {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
}

.container-one .item-5 {
  order: -1;
  /*orders will always have a default val of 0*/
  /*similar to z-index, highest number will always be last in list*/
}

.item {
  flex-grow: 1;
}
